@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 20% 95%;
  --foreground: 0 0% 0%;
}


.dark {
  --background: 240 6% 10%;
  --foreground: 0 0 100%;
}


@layer base {
  :root {
    --card: 0 0% 95%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 5% 90%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 359 59% 36%;
    --primary-foreground: 48 95% 91%;
    --secondary: 49 86% 65%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 75%;
    --muted-foreground: 240 3.8% 30%;
    --accent: 240 5% 85%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 70%;
    --input: 240 5.9% 70%;
    --ring: 357 61% 40%;
    --radius: 0.5rem;
    --chart-1: 359 59% 36%;
    --chart-2: 352 70% 85%;
    --chart-3: 350 75% 65%;
    --chart-4: 351 80% 75%;
    --chart-5: 349 65% 50%;
  }

  .dark {
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 64% 28%;
    --primary-foreground: 355.7 100% 99%;
    --secondary: 49 86% 75%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 5% 25%;
    --accent-foreground: 355.7 100% 99%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 40%;
    --input: 240 3.7% 40%;
    --ring: 357 61% 60%;
    --chart-1: 359 59% 36%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}