@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 83%;
  --foreground: 0 0% 0%;
  --accent: 240 5% 85%;
  --accent-foreground: 0 0% 0%;
}


.dark {
  --background: 240 6% 7%;
  --foreground: 0 0 100%;
  --accent: 240 5% 25%;
  --accent-foreground: 355.7 100% 99%;
}



@layer base {
  :root {
    --background: 0 5% 90%;
    --foreground: 240 10% 3.9%;
    --card: 0 5% 90%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 5% 90%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 357 61% 40%;
    --primary-foreground: 355.7 100% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 75%;
    --muted-foreground: 240 3.8% 30%;
    --accent: 240 5% 85%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 70%;
    --input: 240 5.9% 70%;
    --ring: 357 61% 40%;
    --radius: 0.5rem;
    --chart-1: 347 77% 35%;
    --chart-2: 352 70% 85%;
    --chart-3: 350 75% 65%;
    --chart-4: 351 80% 75%;
    --chart-5: 349 65% 50%;
    --hover: 240 5% 85%;
  }

  .dark {
    --background: 240 6% 7%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 5% 25%;
    --accent-foreground: 355.7 100% 99%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 40%;
    --input: 240 3.7% 40%;
    --ring: 221.2 83.2% 53.3%;
    --hover: 240 5% 25%;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}